#gameover {
  text-align: center;
  align-items: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #0091BD;
  font-size: 1.2rem;
  font-weight: bold;
}

