.description{
  font-size: 15;
  font-weight: 300;
  color: black;
  text-align: justify;
}

.description-bold {
  font-size: 15;
  font-weight: bold;
  color: black;
  text-align: center;
}

.big-logo{
  width: 9rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  color: #09793D;
  font-weight: bold;
  margin-bottom: 0.9rem;
}

.lista ol a{
  color: #0094B5;
  font-size: large;
  text-align: center;

}

.lista ol li {
  margin-bottom: .5rem;
  color: #619AA6;
 
}