* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  box-sizing: border-box;
}


body,
html {
  color: black;
  min-height: 100vh;
  height: 100%;
  background-color: #EEEEEE;
  max-width: 100vw;
}

